<!--------Details Section One Begins Here------------>
<section id="details" class="details position-relative my-6 overflow-hidden">
    <img src="~/content/images/decoration-star.svg" alt="" class="decoration-star position-absolute">
    <div class="container position-relative z-3">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-container d-flex justify-content-center">
                    <img src="~/content/images/details-1.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mt-4">
                    <h2 class="mb-4">Create <span class="text-primary"> Unique</span> Office Spaces</h2>
                    <ul class="list-unstyled">
                        <li class="d-flex mb-3">
                            <i class="fas fa-check text-primary fa-2x mx-4"></i>
                            <p>
                                Our approach ensures that every office space is tailored to the unique needs and preferences of our clients.No two spaces look the same.
                            </p>
                        </li>
                        <li class="d-flex mb-3">
                            <i class="fas fa-check text-primary fa-2x mx-4"></i>
                            <p>
                                Our approach ensures that every office space is tailored to the unique needs and preferences of our clients.No two spaces look the same.
                            </p>
                        </li>
                        <li class="d-flex mb-3">
                            <i class="fas fa-check text-primary fa-2x mx-4"></i>
                            <p>
                                Our approach ensures that every office space is tailored to the unique needs and preferences of our clients.No two spaces look the same.
                            </p>
                        </li>
                        <li class="d-flex mb-3">
                            <i class="fas fa-check text-primary fa-2x mx-4"></i>
                            <p>
                                Our approach ensures that every office space is tailored to the unique needs and preferences of our clients.No two spaces look the same.
                            </p>
                        </li>
                    </ul>
                    <a href="article.html" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-------Detail Section One Ends Here ----------->

<section class="details-2 position-relative my-6 overflow-hidden">
    <img src="~/content/images/decoration-star.svg" alt="" class="decoration-star position-absolute">
    <div class="container position-relative z-3">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container text-center text-lg-start mb-4">
                    <h2>Transform Your Workspace For Enhanced <span class="text-primary">Productivity</span></h2>
                    <p>
                        A thoughtfully designed and well-organized office space has a
                        profound impact on productivity and employee satisfaction. It
                        sets the stage for seamless collaboration, efficient workflows,
                        and creative inspiration. At our company, we specialize in
                        creating tailored office environments that maximize productivity
                        and elevate the overall work experience.
                    </p>
                    <a href="article.html" class="btn btn-primary">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container d-flex justify-content-center">
                    <img src="~/content/images/details-2.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!--------Details Section Two Ends Here-------------->
<!---------Get Quote--------------->
<section class="get-quote bg-light py-6 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="lh-base">Our Team of  higly skilled designers and interior construction workers can deliver above your level of expectations</h4>
                <a href="#contact" class="btn btn-secondary btn-lg">Get Quote</a>
            </div>
        </div>
    </div>
</section>
<!-----End Of Get Quote------>
