<!-----Services Sections Begins Here---------->
<section id="services" class="services bg-light py-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container text-center text-lg-start">
                    <h2><span class="text-secondary">Services </span>that we offer</h2>
                    <p>
                        At our Company, we provide a wide range of services to meet all your office design needs.
                        With our expertise and attention to detail,we ensure every aspect of your office space is carefully considered and executed.
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row mb-4">
                    <div class="col-md-4 d-flex flex-column align-items-center text-center">
                        <i class="fas fa-rocket fa-4x text-secondary mb-2"></i>
                        <p class="fs-5 fw-bold">Space Analysis & Planning</p>
                    </div>
                    <div class="col-md-4 d-flex flex-column align-items-center text-center">
                        <i class="fas fa-palette fa-4x text-secondary mb-2"></i>
                        <p class="fs-5 fw-bold">Design & Color choosing</p>
                    </div>
                    <div class="col-md-4 d-flex flex-column align-items-center text-center">
                        <i class="fas fa-comments fa-4x text-secondary mb-2"></i>
                        <p class="fs-5 fw-bold">Material & Delivery</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 d-flex flex-column align-items-center text-center">
                        <i class="fas fa-tools fa-4x text-secondary mb-2"></i>
                        <p class="fs-5 fw-bold">Execute The Concept</p>
                    </div>
                    <div class="col-md-4 d-flex flex-column align-items-center text-center">
                        <i class="fas fa-chart-pie fa-4x text-secondary mb-2"></i>
                        <p class="fs-5 fw-bold">Create A Greate Attmosphere</p>
                    </div>
                    <div class="col-md-4 d-flex flex-column align-items-center text-center">
                        <i class="fas fa-chart-bar fa-4x text-secondary mb-2"></i>
                        <p class="fs-5 fw-bold">Evaluation & Reporting</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------Services Section Ends Here--------------->
